<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis.xml作用：配置连接数据库的所有需要的环境 ， 必须连接到所有要使用的映射文件。 -->
<configuration>
	<!-- 配置别名：在MyBatis中为一个类取别名，配置别名是为了在对象映射文件中接收参数类型和返回参数类型时使用 -->
	<typeAliases>
		<typeAlias alias="admin" type="com.boot.entity.Admin" /><!-- 管理员表别名为admin 映射类是 com.boot.entity.Admin -->
		<typeAlias alias="builds" type="com.boot.entity.Builds" /><!-- 楼栋表别名为builds 映射类是 com.boot.entity.Builds -->
		<typeAlias alias="users" type="com.boot.entity.Users" /><!-- 小区业主表别名为users 映射类是 com.boot.entity.Users -->
		<typeAlias alias="banner" type="com.boot.entity.Banner" /><!-- 网站栏目表别名为banner 映射类是 com.boot.entity.Banner -->
		<typeAlias alias="article" type="com.boot.entity.Article" /><!-- 网站内容表别名为article 映射类是 com.boot.entity.Article -->
		<typeAlias alias="parks" type="com.boot.entity.Parks" /><!-- 停车位表别名为parks 映射类是 com.boot.entity.Parks -->
		<typeAlias alias="cate" type="com.boot.entity.Cate" /><!-- 收费类型表别名为cate 映射类是 com.boot.entity.Cate -->
		<typeAlias alias="charge" type="com.boot.entity.Charge" /><!-- 物业收费表别名为charge 映射类是 com.boot.entity.Charge -->
		<typeAlias alias="repair" type="com.boot.entity.Repair" /><!-- 业主报修表别名为repair 映射类是 com.boot.entity.Repair -->
		<typeAlias alias="complains" type="com.boot.entity.Complains" /><!-- 意见反馈表别名为complains 映射类是 com.boot.entity.Complains -->
	</typeAliases>

	<!-- mappers 标签是用来配置需要加载的 SQL 映射配置文件路径 -->
	<mappers>
		<mapper resource="mapper/admin.xml" /> <!-- 管理员映射文件 -->
		<mapper resource="mapper/builds.xml" /> <!-- 楼栋映射文件 -->
		<mapper resource="mapper/users.xml" /> <!-- 小区业主映射文件 -->
		<mapper resource="mapper/banner.xml" /> <!-- 网站栏目映射文件 -->
		<mapper resource="mapper/article.xml" /> <!-- 网站内容映射文件 -->
		<mapper resource="mapper/parks.xml" /> <!-- 停车位映射文件 -->
		<mapper resource="mapper/cate.xml" /> <!-- 收费类型映射文件 -->
		<mapper resource="mapper/charge.xml" /> <!-- 物业收费映射文件 -->
		<mapper resource="mapper/repair.xml" /> <!-- 业主报修映射文件 -->
		<mapper resource="mapper/complains.xml" /> <!-- 意见反馈映射文件 -->
	</mappers>
</configuration>













































